{% extends 'base.html' %}
{% block title %}

{% endblock title%}

{% block content %}
<div class="container">
<div class="row">
  <div class="col s12 m12">
    <div class="card blue darken-1">
      <div class="card-content white-text">
        <span class="card-title center">Видео консультация</span>
        <div id="meet" name="meet" class="center"></div>
      </div>
      <div class="card-action">
        {% comment %} <button class="readyToClose btn btn-large">Завершить</button> {% endcomment %}
        {% comment %} <a href="#">This is a link</a>
        <a href="#">This is a link</a> {% endcomment %}
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}
{% block js %}
<script src="https://jitsi122.egov66.ru/external_api.js"></script>
<script type"text/javascript">
  let api;
  const initIframeAPI = () => {
  const domain = 'jitsi122.egov66.ru';
  const options = {
    roomName: '{{url_str}}',
    width: "100%",
    height: 500,
    parentNode: document.querySelector('#meet'),
    configOverwrite:{
      prejoinPageEnabled: false
    },
  //  noSsl: false
    userInfo:{
      email: '{{user.email}}',
      displayName: '{{user.first_name}} {{user.last_name}}'
    }
    //jwt: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJqaXRzaSIsImlzcyI6InZpZGVvY2FsbHMiLCJzdWIiOiJqaXRzaTEyMi5lZ292NjYucnUiLCJyb29tIjoiKiJ9.HOSkIqqQl4y8PZg2Jvsg-iybKFpffFt0gQHQ6a6N9BM

};
const api = new JitsiMeetExternalAPI(domain, options);
api.addEventListener('readyToClose', function(){
  api.dispose();
  $.ajax({
    url: "https://122.egov66.ru/doctor/finish/",
    type: 'GET',
    success: function(res) {
        console.log(res);
        alert(res);
    }
});
  window.location.href="https://122.egov66.ru/";
})
}
window.onload = () => {
  initIframeAPI()
}


</script>

{% endblock js %}
