{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock title%}

{% block content %}
<div class="container">
    <div class=raw>
        <h3>Личный кабинет {{hospital}}</h3>
        <h5>Необработанных карточек {{count}}</h5>
        <div class="row">
          <div class="input-field col s3">
                <i class="material-icons prefix">event</i>
                <input type="text" id="start" class="datepicker" name="start" value="">
                <label for="date1">Дата начала</label>
            </div>
            <div class="input-field col s3">
              <i class="material-icons prefix">event</i>
              <input type="text" id="end" class="datepicker" name="end" value="">
              <label for="date1">Дата окончания</label>
          </div>
          <div class="input-field col s3">
          <select class="form-control" id="sort">
            <option value="0">Сортировка</option>
            <option value="call_number">Номер телефона</option>
            <option value="date">Дата обращения</option>
        </select>
      </div>
      <div class="input-field col s1">
        <select class="form-control" id="page_limit">
          <option value="10">10</option>
          <option value="50">50</option>
          <option value="100">100</option>
      </select>
    </div>
      <div class="input-field col s2">
        <select name="call_result" id="call_result" url={% url 'hospitals:get_callresult' %}>
        </select>
      </div>
          </div>
        <div id="result-count" class="text-right">
          <span class='font-weight-bold'></span> Карточек найдено
      </div>
      <div id="page-count" class="text-right">Страница:
          <span class='font-weight-bold'></span>
      </div>
    </div>
    {% comment %} <div class="row center">
      <a href="{% url 'calls:add' %}" id="download-button" class="btn-large waves-effect waves-light orange">Добавить</a>
    </div> {% endcomment %}
    <br><br>
    
    <div class="raw">
      <table class="highlight">
        <thead>
          <tr>
              <th>Время звонка</th>
              <th>Номер звонящего</th>
             <th>Статус</th> 
              <th></th>
          </tr>
        </thead>

        {% comment %} <tbody>
          {% for call in  calls %}
          <tr>
            <td>{{call.date| date:"d.m.Y"}}</td>
            <td>{{call.call_number}}</td>
            <td>{% if call.active == True %}
                  Ожидает обрабоки
                {% else %}
                  Обработан
                {% endif %}
                
            </td>
            <td><a href={% url 'hospitals:show' pk=call.pk %}> <i class="material-icons">assignment</i></a></td>
          </tr>
          {% endfor %} {% endcomment %}
          <tbody id="table_body">
          </tbody>
        </tbody>
      </table>
<div class="row center">
      <ul class="pagination">
        <li class="page-item">
            <button class="btn btn-primary page-link" id = "previous">Previous</button>
        </li>
        <li class="page-item pull-right">
            <button class="btn btn-primary page-link" id="next">Next</button>
        </li>
    </ul>
  </div>
      {% comment %} {% block pagination %}
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">назад</a>
              {% endif %}
              <span class="page-current">
                  страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">вперед</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %}  {% endcomment %}


{% endblock content %}
{% block js %}
<script type="text/javascript" src="{% static 'js/datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/select.js' %}"></script>
<script type="text/javascript" src="{% static 'js/active__page_hospitals.js' %}"></script>
{% endblock js %}