{% extends "base.html" %}

{% block content %}
<div class="row ">
    <div class="col s6 m6 offset-m3 ">
      <div class="card light-blue  lighten-1">
        <div class="card-content white-text">
          <span class="card-title center-align">Спасибо за регистрацию на нашем сайте</span>
                <p>Для дальнейшей работы на сайте подтвердите регистрацию, ссылка от правлена вам на электронную почту, которуй вы указали при регистрации в поле email</p>
            <div class="card-action center-align">
                <br>
                <div class="center-align">
                </div>
            </form>
            
            </div>
        

        </div>
      </div>
    </div>
  </div>


{% endblock %}