{% extends "base.html" %}

{% block content %}

{% if form.errors %}
  <p>Ваш логин и пароль не валидны</p>
{% endif %}


<div class="row ">
    <div class="col s6 m6 offset-s3 offset-m3 ">
      <div class="card light-blue">
        <div class="card-content white-text">
          <span class="card-title">Форма авторизации</span>
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% if next %}
  {% if user.is_authenticated %}
    <p>У вас нет права для доступа к этой странице</p>
  {% else %}
    <p>Пожалуйста введите логин и пароль</p>
  {% endif %}
{% endif %}
            <table>
            
            <tr>
              <td>Имя пользователя
              </td>
              <td>{{ form.username }}</td>
            </tr>
            
            <tr>
              <td>Пароль</td>
              <td>{{ form.password }}</td>
            </tr>
            </table>
            <div class="card-action center-align">
                <input class="waves-effect waves-light btn" type="submit" value="Вход" />
                <input type="hidden" name="next" value="{{ next }}" />
                <div class="right-align">
                    <a class="right-align" href="{% url 'password_reset' %}">Забыли пароль</a>
                </div>
            </form>
            
            </div>
        

        </div>
      </div>
    </div>
  </div>


{# Assumes you setup the password_reset view in your URLconf #}


{% endblock %}