{% extends "base.html" %}

{% block content %}

<div class="row ">
    <div class="col s6 m6 offset-s3 offset-m3 ">
      <div class="card light-blue">
        <div class="card-content white-text">
          <span class="card-title">Форма сброса пароля</span>
          <form method="post" action="">
            {% csrf_token %}
            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
            {{ form.email }}
            <div class="card-action center-align">
                <input class="waves-effect waves-light btn" type="submit" value="Сброс пароля" />
            </form>
            
            </div>
        

        </div>
      </div>
    </div>
  </div>


{# Assumes you setup the password_reset view in your URLconf #}


{% endblock %}