{% extends "base.html" %}

{% block content %}
<div class="row ">
    <div class="col s6 m6 offset-m3 ">
      <div class="card light-blue  lighten-1">
        <div class="card-content white-text">
          <span class="card-title center-align"></span>
        
          {% if validlink %}
          <p>Заполните форму по смене пароля</p>
          <form action="" method="post">
              {% csrf_token %}
              <table>
                  <tr>
                      <td>{{ form.new_password1.errors }}
                          <label for="id_new_password1">Новый пароль:</label></td>
                      <td>{{ form.new_password1 }}</td>
                  </tr>
                  <tr>
                      <td>{{ form.new_password2.errors }}
                          <label for="id_new_password2">Подтверждение:</label></td>
                      <td>{{ form.new_password2 }}</td>
                  </tr>

              </table>
              <div class="card-action center-align">
                <input class="waves-effect waves-light btn" type="submit" value="Сменить пароль" />
          </form>
            
            </div>
        

        </div>
      </div>
    </div>
  </div>
  {% else %}
  <h1>Password reset failed</h1>
  <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}

{% endblock %}